MediProject_Client/Connected Services/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MediProject_Server.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MediProject_Server.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/MediProject_Server/Service1/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Person">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
          <xs:element minOccurs="0" name="Kupa" nillable="true" type="tns:KupatHolim" />
          <xs:element minOccurs="0" name="Medications" nillable="true" type="tns:MedicationsList" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Person">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Gmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="BaseEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseEntity" nillable="true" type="tns:BaseEntity" />
  <xs:complexType name="KupatHolim">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="KupatHolim" nillable="true" type="tns:KupatHolim" />
  <xs:complexType name="MedicationsList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Medication" nillable="true" type="tns:Medication" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedicationsList" nillable="true" type="tns:MedicationsList" />
  <xs:complexType name="Medication">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActiveSubstance" nillable="true" type="tns:Substance" />
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Alternativies" nillable="true" type="q1:ArrayOfstring" />
          <xs:element minOccurs="0" name="AvailableInIsrael" type="xs:boolean" />
          <xs:element minOccurs="0" name="Generics" nillable="true" type="tns:ArrayOfGenericAlternative" />
          <xs:element minOccurs="0" name="InHealthBox" type="xs:boolean" />
          <xs:element minOccurs="0" name="OriginalName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Medication" nillable="true" type="tns:Medication" />
  <xs:complexType name="Substance">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SubstanceName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Substance" nillable="true" type="tns:Substance" />
  <xs:complexType name="ArrayOfGenericAlternative">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GenericAlternative" nillable="true" type="tns:GenericAlternative" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGenericAlternative" nillable="true" type="tns:ArrayOfGenericAlternative" />
  <xs:complexType name="GenericAlternative">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="medicationList" nillable="true" type="tns:ArrayOfMedication" />
          <xs:element minOccurs="0" name="medications" nillable="true" type="tns:Medication" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GenericAlternative" nillable="true" type="tns:GenericAlternative" />
  <xs:complexType name="ArrayOfMedication">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Medication" nillable="true" type="tns:Medication" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedication" nillable="true" type="tns:ArrayOfMedication" />
  <xs:complexType name="PurchaseList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Purchase" nillable="true" type="tns:Purchase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PurchaseList" nillable="true" type="tns:PurchaseList" />
  <xs:complexType name="Purchase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="PillAmount" type="xs:int" />
          <xs:element minOccurs="0" name="PillsPerDay" type="xs:int" />
          <xs:element minOccurs="0" name="PurchaseDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="medication" nillable="true" type="tns:Medication" />
          <xs:element minOccurs="0" name="user" nillable="true" type="tns:User" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Purchase" nillable="true" type="tns:Purchase" />
  <xs:complexType name="PeopleList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PeopleList" nillable="true" type="tns:PeopleList" />
  <xs:complexType name="KupatHolimList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KupatHolim" nillable="true" type="tns:KupatHolim" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KupatHolimList" nillable="true" type="tns:KupatHolimList" />
  <xs:complexType name="UserList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserList" nillable="true" type="tns:UserList" />
</xs:schema>