MediProject_Client/Connected Services/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MediProject_Server.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MediProject_Server.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PeopleList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PeopleList" nillable="true" type="tns:PeopleList" />
  <xs:complexType name="Person">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FullAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Gmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="BaseEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseEntity" nillable="true" type="tns:BaseEntity" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Person">
        <xs:sequence>
          <xs:element minOccurs="0" name="Kupa" nillable="true" type="tns:KupatHolim" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="KupatHolim">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="KupatHolim" nillable="true" type="tns:KupatHolim" />
  <xs:complexType name="KupatHolimList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KupatHolim" nillable="true" type="tns:KupatHolim" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KupatHolimList" nillable="true" type="tns:KupatHolimList" />
</xs:schema>